

/**************** exercise 1 *****************/


/**************** exercise 2 *****************/


/**************** exercise 3 *****************/


/*
RESOURCES
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
http://www.flexboxdefense.com/
http://flexboxfroggy.com/
http://caniuse.com/#search=flexbox
https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties
https://davidwalsh.name/flexbox-layouts
*/