

/************* exercise 1 **************/

.exercise-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  }

  .item {
    flex-grow: 1;
  }

  .item-1 {
    align-self: center;
    flex-grow: 2;
  }

/**************** exercise 2 *****************/
.exercise-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

/**************** exercise 3 *****************/
.exercise-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photogallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}



/*
RESOURCES
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
http://www.flexboxdefense.com/
http://flexboxfroggy.com/
http://caniuse.com/#search=flexbox
https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties
https://davidwalsh.name/flexbox-layouts
*/